.fullwidth {
  width: 100%;
}

.navigation {
  background: #f4f5f6;
}

.navbar {
    padding: 20px;
}

form {
  width: 100%;
}

.is-hidden {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* grid-column-gap: 50px; */
  /* background-color: #2196F3; */
  /* padding: 30px; */
}

.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  align
  /* font-size: 30px; */
  text-align: justify;
  justify-content: center;
}
